<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-articles"><%= link_to "Articles", casein_articles_path %></li>
<li id="tab-categories"><%= link_to "Categories", casein_categories_path %></li>
<li id="tab-settings"><%= link_to "Settings", casein_settings_path %></li>