<section>
    <h1>About</h1>
    <p>
        <span class="image left">
            <%= setting_image(:avatar, :small_square) %>
        </span>
        <%= setting(:about).gsub("\r\n", "</p><p>").html_safe %>
    </p>
</section>