<section id="one">
    <header class="major">
        <h2><%= @category.name %></h2>
    </header>    
	<div class="row">
        <% @articles.each do |article| %>
		<article class="4u 12u$(xsmall) work-item">
			<a href="<%= article_path(@category.code, article.id) %>" class="image fit thumb">
                <img src="<%= article.image.url(:landscape) %>" alt="" />
            </a>
			<h3><%= article.title %></h3>
		</article>
        <% end %>
	</div>
</section>
