# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: bed5a4ad9ae80d9e78380d8c8d3c0695e2389b20538f543f7fa4c73f33173a50f4d5b1b0942425edae8b4a6cdfbd7eff64a552d35008e0013f6313b32cf01596

test:
  secret_key_base: c18d0243c7a4a6035d7dd19e38a9bd8722469181736d39e8e447755212c942dfaa098168e292e69fb922c4773de11647db442a871d2cde09c8f4e94139106c99

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
